Makefile.local
config.h
*.o
sqlsmith
*.xml
TAGS
html/
.deps/
Doxyfile
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compilation.log
compile
config.guess
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
latex/
missing
stamp-h1
sqlsmith-*.tar.gz
doxygen_sqlite3.db
ar-lib
libsqlsmith.so
query_interactor
*.sql
*output
*nohup*
transfuzz
qcn
.dirstamp
*eet*
*.out
*.log
distancer
distranger
543*
nohup.out
origin/*
minimized/*

.DS_Store
config.guess~
config.sub~
configure~
install-sh~
query.log
build/*
exec_query
gen_db
gen_query
pcaps/*
*.pcap
log
.json
clickhouse_error
clickhouse_sql
!vitess/drop*.sql
vitess/saved/*/*/*.json

!docker/
!docker/**/
!docker/**/*.xml
!docker/**/*.sql